body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  margin-left: 50px;
  width: 400px;
  border: rgb(120, 111, 111) solid;
  padding: 10px;
  border-radius: 12px;
  background-color: rgb(95, 162, 210);
  box-shadow: 5px 5px rgb(0, 0, 0, 0.5);

}

.tasks {
  display: flex;
  padding: 3px;
  align-items: center;
  gap: 15px;

}

.msg {
  border-color: black;
  border-style: solid;
  margin-bottom: 5px;
  width: 320px;
  height: 80px;
  padding: 5px;
  border-radius: 5px;
  border-width: 3px;
  background-color: white;
}

.buttons-div {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.inputbox {
  width: 320px;
  height: 30px;
  border-radius: 15px;
  border-style: outset;
}

.input-div {
  display: flex;
  gap: 15px;
  align-items: center;

}

button {
  width: 80px;
  height: 30px;
  border-radius: 15px;
  border-style: none;
  cursor: pointer;
  background-color: rgb(29, 23, 23);
  color: white;
}